<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head :: head('Farní tábor Valašská Polanka 2021')">
</head>
<body>
<div th:insert="fragments/header :: header()"></div>
<div class="container">
    <h4>Přehled</h4>
    <p th:text="${'Dokončili: ' + overview.done + ' z ' + overview.members.size} + '.'"></p>
    <h4>Nemají dokončeno:</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th class="col-5">Jméno</th>
                <th class="col-5">Barva týmu</th>
                <th class="col-1">Tým</th>
                <th class="col-1">Stav</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${overview.members.empty}">
                <td colspan="5"><p>V systému nejsou táborníci</p></td>
            </tr>
            <th:block th:each="member : ${overview.members}" th:style="|color: ${member.group}|">
                <tr th:if="${member.progress != 100}">
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.group.czechColor}"></td>
                    <td th:style="|background: ${member.group}|"></td>
                    <td th:text="${member.progress + '%'}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <h4>Dokončili:</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th class="col-5">Jméno</th>
                <th class="col-5">Barva týmu</th>
                <th class="col-1">Tým</th>
                <th class="col-1">Stav</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${overview.members.empty}">
                <td colspan="5"><p>V systému nejsou táborníci</p></td>
            </tr>
            <th:block th:each="member : ${overview.members}">
                <tr th:if="${member.progress == 100}">
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.group.czechColor}"></td>
                    <td th:style="|background: ${member.group}|"></td>
                    <td th:text="${member.progress + '%'}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>